<div class="container">
  <div class="jumbotron">
    <h1>歡迎來到 My RoR Forum</h1>
    <p>這是一個討論與交流的園地，網站正在建置中！</p>
  </div>

  <div class="row text-center">
    <div class="col-sm-4">
      <img class="img-circle" src="<%= image_path('megaphone.png') %>" width="140" height="140">
      <h2>貼文</h2>
      <p>張貼有趣的新知識，與大家一同分享。</p>
      <br/>
    </div>
    <div class="col-sm-4">
      <img class="img-circle" src="<%= image_path('discussion.png') %>" width="140" height="140">
      <h2>討論</h2>
      <p>對貼文留下回覆，散播你獨到的觀點。</p>
      <br/>
    </div>
    <div class="col-sm-4">
      <img class="img-circle" src="<%= image_path('thumbsup.png') %>" width="140" height="140">
      <h2>按讚</h2>
      <p>對文章或留言 +1，給優質內容支持鼓勵。</p>
      <br/>
    </div>
  </div>
</div>